<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Clouds · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch&display=swap" rel="stylesheet"> 
  </head>
  <body>
    <header>
      <div class="container">
        <%= render "header.html", assigns %>
      </div>
    </header>
    
    <div class="navigation">
      <nav role="navigation" class="main-nav container" id="main-nav">
        <ul id="main-nav-list">
          <%= if Pow.Plug.current_user(@conn) do %>
          <li>
            <%= link to: Routes.post_path(@conn, :new) do %>   
              <div>
                New
              </div>
            <% end %>
          </li>
          <li>
            <%= link to: Routes.pow_registration_path(@conn, :edit) do %>
              <div>
                Profile
              </div>
            <% end %>
          </li>
          <li>
            <%= link to: Routes.pow_session_path(@conn, :delete), method: :delete do %>
              <div>
                Sign Out
              </div>
            <% end %>
          </li>
          <% else %>
          <li>
            <%= link to: Routes.pow_session_path(@conn, :new) do %>
              <div>
                Sign In
              </div>
            <% end %>
          </li>
          <% end %>
        </ul>
      </nav> 
    </div>

    <main role="main" class="container">
      <p class="notification is-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="notification is-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>

    <footer class="container">
      <!--
      <a href="https://www.freepik.com/free-vector/kinds-hand-drawn-clouds_979645.htm">Hand drawn clouds created by freepik - www.freepik.com</a>
      -->
    </footer>

    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
