$blue: hsl(204.4, 88.2%, 30%);
$grey: #efefef;

@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "bulma/sass/form/_all.sass";
@import "bulma/sass/grid/columns.sass";

@import "bulma/sass/components/media.sass";

@import "bulma/sass/elements/image.sass";
@import "bulma/sass/elements/button.sass";
@import "bulma/sass/elements/title.sass";
@import "bulma/sass/elements/notification.sass";

body {
  font-family: "Helvetica", "Arial", sans-serif;

  line-height: 1.5;
  margin: 0;
  padding: 0;

  color: #566b78;
}

.notification:empty {
  display: none;
}

h1,
h2,
strong {
  color: #333;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

code,
pre {
  background: #f5f7f9;
  border-bottom: 1px solid #d8dee9;
  color: #a7adba;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
  border-left: 2px solid #69c;
}

a {
  color: $blue;
}

header {
  background: $grey;
  border-bottom: solid 1px #dddddd;

  .logo {
    padding: 0 0.7rem;
    display: inline-block;
    height: 4rem;
    width: 100%;

    h1.title {
      font-family: 'Cabin Sketch', cursive;
      line-height: 4rem;
      margin-left: 100px;
      text-transform: uppercase;
      font-size: 3rem;
      color: #bbb;
    }

    .image {
      position: absolute;

      img {
        position: relative;
        text-align: center;
        width: 120px;

        animation-name: hovering;
        animation-duration: 3s;
        animation-iteration-count: infinite;
      }
    }
  }
}

@keyframes hovering {
    0% { top: 0; }
    30% { top: 2px; }
    60% { top: 0 }
    100% { top: 0; }
}

.navigation {
  border-bottom: solid 1px #dddddd;
}


article.post {
  margin-bottom: 5rem;

  .avatar{
    img {
      box-shadow: 0 0 0 1px #ddd;
    }
  }

  .content {
    margin-bottom: 1rem;
  }
}

.container {
  max-width: 40rem;
  margin: 0 auto;
  padding: 1.5rem 1rem;
}

.main-nav {
  background: white;
  padding: 0;

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    list-style: none;
  }
  a {
    padding: 1rem 1rem;
    font-size: 1.3rem;
    max-width: 140px;
    font-weight: 300;
    text-decoration: none;
    display: flex;
    align-items: flex-start;
    color: #333;
    &:hover, &:focus {
      background: $grey;
      color: $blue;
      svg {
        fill: green; 
      }
      span {
        color: black; 
      }
    }
  }
}

@media (min-width: 1000px) {
  .main-nav {
    a {
      max-width: 500px;
      font-size: 1.5rem; 
    }
  }
}